In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import itertools

In [42]:
from screen1 import *

In [43]:
filenames = ['fscore.xlsx']
sheets = {'Sheet1': [0, 'A:DL', 1606]}
df = getasheet(filenames, sheets, 'ticker')

read the data ['fscore.xlsx']

In [44]:
df[['VALUATION_test', 'SBM_test', 'PUOC_test', 'TRADE_test']].describe()

       VALUATION_test     SBM_test    PUOC_test   TRADE_test
count     1606.000000  1606.000000  1606.000000  1606.000000
mean         0.529888     0.311488     0.268784     0.255293
std          0.197700     0.197418     0.117675     0.118392
min          0.000000     0.000000     0.000000     0.000000
25%          0.333333     0.125000     0.166667     0.166667
50%          0.666667     0.250000     0.250000     0.166667
75%          0.666667     0.500000     0.333333     0.333333
max          1.000000     0.875000     0.583333     0.666667

In [45]:
tval = df.VALUATION_test >= df.VALUATION_test.quantile(q = .75)
tsbm = df.SBM_test >= df.SBM_test.quantile(q = .75)
tpuoc = df.PUOC_test <= df.PUOC_test.quantile(q = .25)
ttrade = df.TRADE_test <= df.TRADE_test.quantile( q = .25)

In [46]:
top = df[tval & tsbm & tpuoc & ttrade]

In [50]:
dict(zip(set(top.sector), itertools.cycle(palette325)))

{'Health Care Providers and Services': '#2C3E50',
 'Machinery': '#5E832F',
 'Electronic Equipment, Instruments and Components': '#C00000',
 'Consumer Cyclical': '#E74C3C',
 'Healthcare': '#3498DB',
 'Real Estate': '#2980B9',
 'Energy': '#ECF0F1',
 'Biotechnology': '#FF9800',
 'IT Services': '#F54F29',
 'Commercial Services and Supplies': '#000000',
 'Energy Equipment and Services': '#2C3E50',
 'Industrials': '#5E832F',
 'Textiles, Apparel and Luxury Goods': '#C00000',
 'Financial Services': '#E74C3C',
 'Technology': '#3498DB',
 'Communication Services': '#2980B9'}

In [52]:
huepalette = dict(zip(set(top.sector), itertools.cycle(palette325)))